<form name="subscribeForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="subscribe-form"
  class="subscribe-form">
  <div class="screen-reader-text">
    <label>No completes esto si eres un humano: <input name="bot-field" /></label>
  </div>
  <div class="form-row">
    <label>
      <span class="screen-reader-text">Email</span>
      <input class="subscribe-email" type="email" name="email" placeholder="Dirección de correo...">
    </label>
  </div>
  <input type="hidden" name="form-name" value="subscribeForm" />
  <button class="button" type="submit">Subscribirse</button>
</form><!-- .subscribe-form -->
